{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <header>
    <h1>Welome to {{ title }}</h1>
    <h2>{{ message }}</h2>
  </header>
  <p>cool lista</p>
  <a href="/movies">CLICK HERE FOR FREE ROBUX</a>
</main>
{% endblock %}